

.btn {
    box-shadow: 0 .1875rem .1875rem 0 rgba(0, 0, 0, .1) !important;
    padding: 1.25rem 2rem;
    font-family: 'Varela Round';
    font-size: 80%;
    text-transform: uppercase;
    letter-spacing: .15rem;
    border: 0
}

.btn-primary {
    background-color: #dd0c00
}


.btn-primary:hover {
    background-color: #c24551;
    color: white;
}

.btn-primary:focus {
    background-color: #c24551;
    color: #fff
}

.btn-primary-2 {
    background-color: #dde5f9
}

.btn-primary-2:hover {
    background-color: #9b9b9b;
    color: white;
}

.btn-primary-2:focus {
    background-color: #9b9b9b;
    color: #fff
}
.btn-primary-2:active {
    background-color: #f9f9f9 !important
}


.btn-primary-3 {
    background-color: #1b00dd;
    color:white;
}


.btn-primary-3:hover {
    background-color: rgba(27, 0, 221, 0.44);
    color: black;
}

.btn-primary-3:focus {
    background-color: #001fc2;
    color: #fff
}