

/*--- navigation bar ---*/
/*.navbar {*/
    /*background: #7af15f;*/
/*}*/
body{
    background-color: black;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.white{
    color: white;
}
.nav-link:hover {
    color: #f9f9f9;
}
.navbar-collapse {
    justify-content: flex-end;
}

.header {
    background-image: url('images/header-background.jpg');
    background-size: contain;
    background-position: center;
    position: relative;
}

.dropdown-toggle{
    color: white;
}
.background-admin-panel{
    height: 100%;
}


.inner-background-admin-panel{
    position: absolute;

    z-index: -1;
    /* opacity: .6; */
    width: 100%;
    /* width: auto; */
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
.inner-background-admin-panel-allcars{
    position: absolute;
    z-index: -1;
    /*opacity: .6;*/
    /*width: 100%;*/
    width: auto;
    height: auto;
    background-repeat: repeat;
    background-position: center;
    background-size: contain;

}


.inner-background-admin-panel-lamp1{
    background-image:url(../img/zdjecia_samochodu/lamp1.jpg)
}
.inner-background-admin-panel-logo{
    background-image:url(../img/zdjecia_samochodu/logo.jpg)
}


.admin-panel-navbar-color{
    background-color: #3a3738;
}
.black-background{
    position:absolute;background-color:black;z-index:-1;height: 100%;width: 100%
}

.black-background-allcars{
    position:absolute;background-color:black;z-index:-1;height: 300%;width: 100%
}

