table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 0px solid #000000;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(78, 78, 78, 0.66);
}
tr:nth-child(odd) {
    background-color: #000000;
}