table {
    color: #0500ff;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 2px solid #9b9b9b;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #ffffff78;
}
tr:nth-child(odd) {
    background-color: #bebebe78;
}