<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dreamclub - Car Rental</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/grayscale.min_admin.css" rel="stylesheet">
    <link href="../css/grayscale.min_buttons_only.css" rel="stylesheet">
    <link href="../css/index_styles.css" rel="stylesheet">
    <link href="../css/admin_panel_table.css" rel="stylesheet">
    <link href="../css/list.css" rel="stylesheet">
    <link href="../css/table_index.css" rel="stylesheet">

    <!--<link href="../css/table_index.css" rel="stylesheet">-->
</head>

<body id="page-top">


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">DREAMCLUB</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#display_cars">Wyświetl bazę aut</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#add_car">Dodaj auto</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#find_car">Znajdź auto</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="#calendar">Kalendarz</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger">
                        <form th:action="@{/logout}" method="post">
                            <input type="submit" value="Wyloguj się" class="btn btn-primary-3"/>
                        </form>
                       </a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<!-- Header -->
<header class="masthead">
    <div class="container d-flex h-100 align-items-center">
        <div class="mx-auto text-center">
            <h1 class="mx-auto my-0 text-uppercase">Dreamclub</h1>
            <h2 class="text-white-50 mx-auto mt-2 mb-5">Panel administratora. Zarządzaj swoją bazą aut.</h2>
            <!--<a href="#about" class="btn btn-primary js-scroll-trigger">Zarezerwuj auto!</a>-->

        </div>

    </div>
</header>

<!-- About Section -->
<section id="about" class="about-section text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2 class="text-white mb-4">O panelu</h2>
                <p class="text-white-50">
                    Wykorzystaj panel do zarządzania. Możesz tutaj dodać nowe auta, przeglądać już istniejące oraz dowolnie je modyfikować i usuwać.
                </p>
            </div>
        </div>
        <img src="../img/zdjecia_samochodu/pic3.png" class="img-fluid" alt="">
    </div>
</section>

<!-- DISPLAY CARS -->
<section id="display_cars" class="signup-section wheel-section">
    <div class="container">

        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <div class="container">
            <h><p class="display-cars">AUTA ZNAJDUJĄCE SIĘ W TWOJEJ BAZIE</p></h>
            <div th:each="car: ${cars}">
                <div class="row">

                    <div class="col-md-cust3">
                        <div class="ibox">

                            <div class="ibox-content product-box">
                                <div class="product-imitation">
                                    <td colspan="2"><img src="../static/'+${car.imageLink}" width="500" th:src="${car.imageLink}"/>
                                </div>
                                <div class="product-desc">



                                    <div class="display-cars-index">
                                        <table class="table">




                                            <tr><td>nazwa           </td><td><p th:text="${car.name}"/> </td></tr>
                                            <tr><td>marka          </td><td><p th:text="${car.brand}"/> </td></tr>
                                            <tr><td>model          </td><td><p th:text="${car.model}"/> </td></tr>

                                            <tr><td>specyfikacja  </td><td><p th:text="${car.specification}"/> </td></tr>
                                            <!--<tr><td>price          </td><td><p th:text="${car.price}"/> </td></tr>-->
                                            <tr><td>
    <span class="product-price">
                        Cena za dzień
                    </span>
                                            </td><td>
                                                <p th:text="${car.priceForDay} +' PLN'"/>
                                            </td></tr>
                                            <tr><td>
            <span class="product-price">
                        Cena za weekend
                    </span>
                                            </td><td>
                                                <p th:text="${car.priceForWeekend} +' PLN'"/>
                                            </td></tr>
                                            <tr><td>
    <span class="product-price">
                        Cena za tydzień
                    </span>
                                            </td><td>
                                                <p th:text="${car.priceForWeek} +' PLN'"/>
                                            </td></tr>
                                            <tr><td>
    <span class="product-price">
                        Cena za miesiąc
                    </span>
                                            </td><td>
                                                <p th:text="${car.priceForMonth} +' PLN'"/>
                                            </td></tr>


                                            <tr>
                                                <td colspan="2">
                                                    <!--<iframe src="https://calendar.google.com/calendar/embed?src=yourdreamclub809%40gmail.com&ctz=Europe%2FWarsaw" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>-->



                                                </td>
                                            </tr>
                                            <tr >
                                                <td colspan="2"></td>

                                            </tr>
                                            </li>


                                        </table>

                                    </div>
                                    <div class="small m-t-xs">
                                        Many desktop publishing packages and web page editors now.
                                    </div>
                                    <div class="m-t text-righ">

                                        <form action="#" th:action="@{/cars:{id}(id=${car.id})}" method="get">
                                            <p><input type = "submit" class="btn btn-primary" value="PANEL AUTA"/></p>
                                        </form>
                                        </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


</section>


<!-- ADD CAR -->
<section id="add_car" class="signup-section logo-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">


                <!--Section: Contact v.2-->
                <section class="mb-4">

                    <!--Section heading-->
                    <h2 class="h1-responsive font-weight-bold text-center my-4">Dodaj auto</h2>
                    <!--Section description-->
                    <p class="text-center w-responsive mx-auto mb-5">Uzupełnij dane samochodu, który chcesz dodać do bazy</p>
                    <table class="center">
     <form method="POST" th:action="@{/add_new_car}" enctype="multipart/form-data">

                                <tr>
                                    <td>
                                        Nazwa pojazdu
                                    </td>
                                    <td>
                                        <input type = "text" th:field="${car.name}"/>
                                    </td>
                                </tr>
         <tr>
         <tr>
         <tr>
             <td>
                 Marka
             </td>
             <td>
                 <input type = "text" th:field="${car.brand}"/>
             </td>
         </tr>
         <tr>
         <tr>
             <td>
                 Model
             </td>
             <td>
                 <input type = "text" th:field="${car.model}"/>
             </td>
         </tr>
         <tr>
         <tr>
         <tr>
             <td>
                 Zdjęcie
             </td>
             <td>
                 <input type="file" name="file"/>
             </td>
         </tr>
         <tr>
         <tr>
         <tr>
             <td>
                 Specyfikacja
             </td>
             <td>
                 <input type = "text" th:field="${car.specification}"/>
             </td>
         </tr>
         <tr>
         <tr>
         <tr>
             <td>
                 Cena za dzień
             </td>
             <td>
                 <input type = "text" th:field="${car.priceForDay}"/>
             </td>
         </tr>
         <tr>
         <tr>
         <tr>
             <td>
                 Cena za weekend
             </td>
             <td>
                 <input type = "text" th:field="${car.priceForWeekend}"/>
             </td>
         </tr>
         <tr>
         <tr>
         <tr>
             <td>
                 Cena za tydzień
             </td>
             <td>
                 <input type = "text" th:field="${car.priceForWeek}"/>
             </td>
         </tr>
         <tr>
         <tr>
         <tr>
             <td>
                 Cena za miesiąc
             </td>
             <td>
                 <input type = "text" th:field="${car.priceForMonth}"/>
             </td>
         </tr>
             <td>
                 <p><input type = "submit" class="btn btn-primary" value="Dodaj auto"/></p>
             </td>
             <td>
                 <p><input type = "reset" class="btn btn-primary-2" value="Clear"/>
             </td>
         </tr>
                            </form>
                        </table>


                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-9 mb-md-0 mb-5" style="text-align: center">


                        </div>
                    </div>
            </div>
</section>

<!-- FIND CAR -->
<section id="find_car" class="signup-section lamp1-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">


                <!--Section: Contact v.2-->
                <section class="mb-4" style="text-align: center">

                    <!--Section heading-->
                    <h2 class="h1-responsive font-weight-bold text-center my-4">Znajdź auto</h2>
                    <!--Section description-->
                    <p class="text-center w-responsive mx-auto mb-5">Uzupełnij wymagane pola</p>
                    <table class="center2">
                        <tr>
                            <td colspan="2"> Po jakim polu chcesz odnaleźć samochód?</td>
                        </tr>
                        <tr>

                            <td colspan="2">


                            </td>
                        </tr>
                        <form action="#" th:action="@{/find_car}" th:object="${findCarDto}" method="post">
<tr><td>Wartość pola</td><td><input type="text" th:field="*{searchCriterion}"/></p></td>
</tr>
                        <tr>
                        <tr><td>Szukane pole:</td><td><select th:field="*{searchBy}">
                        <option th:value="id" selected>id</option>
                        <option th:value="brand">marka</option>

                    </select></td></tr>
                        </tr>
                        <tr>
                            <td>
                                <p><input type = "submit" class="btn btn-primary" value="Wyszukaj"/></p>
                            </td>
                            <td>
                                <p><input type = "reset" class="btn btn-primary-2" value="Wyczyść"/>
                            </td>
                            </form>
                        </tr>
                    </table>
                    <div class="row"></div>

                        <!--Grid column-->
                        <div class="col-md-9 mb-md-0 mb-5"> </div>











                    </div>
            </div>
</section>

<!-- CALENDAR -->
<section id="calendar" class="signup-section back1-section">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">


                <!--Section: Contact v.2-->
                <section class="mb-4" style="text-align: center">

                    <!--Section heading-->
                    <h2 class="h1-responsive font-weight-bold text-center my-4">Kalendarz</h2>
                    <!--Section description-->
                    <p class="text-center w-responsive mx-auto mb-5">Przeglądaj kalendarz google</p>

                    <iframe src="https://calendar.google.com/calendar/embed?src=yourdreamclub809%40gmail.com&ctz=Europe%2FWarsaw" style="border: 0" width="800" height="600" frameborder="0" scrolling="no"></iframe>



                    <div class="row"></div>

                    <!--Grid column-->
                    <div class="col-md-9 mb-md-0 mb-5"> </div>

            </div>
        </div>
</section>





<!--</section>-->
-->

<!--&lt;!&ndash; Contact Section &ndash;&gt;-->
<!--<section class="contact-section bg-black">-->
    <!--<div class="container">-->

        <!--<div class="row">-->

            <!--<div class="col-md-4 mb-3 mb-md-0">-->
                <!--<div class="card py-4 h-100">-->
                    <!--<div class="card-body text-center">-->
                        <!--<i class="fas fa-map-marked-alt text-primary mb-2"></i>-->
                        <!--<h4 class="text-uppercase m-0">Address</h4>-->
                        <!--<hr class="my-4">-->
                        <!--<div class="small text-black-50">adres firmy</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-4 mb-3 mb-md-0">-->
                <!--<div class="card py-4 h-100">-->
                    <!--<div class="card-body text-center">-->
                        <!--<i class="fas fa-envelope text-primary mb-2"></i>-->
                        <!--<h4 class="text-uppercase m-0">Email</h4>-->
                        <!--<hr class="my-4">-->
                        <!--<div class="small text-black-50">-->
                            <!--<a href="#">hello@yourdomain.com</a>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--<div class="col-md-4 mb-3 mb-md-0">-->
                <!--<div class="card py-4 h-100">-->
                    <!--<div class="card-body text-center">-->
                        <!--<i class="fas fa-mobile-alt text-primary mb-2"></i>-->
                        <!--<h4 class="text-uppercase m-0">Phone</h4>-->
                        <!--<hr class="my-4">-->
                        <!--<div class="small text-black-50">+1 (555) 902-8832</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="social d-flex justify-content-center">-->
            <!--<a href="#" class="mx-2">-->
                <!--<i class="fab fa-twitter"></i>-->
            <!--</a>-->
            <!--<a href="#" class="mx-2">-->
                <!--<i class="fab fa-facebook-f"></i>-->
            <!--</a>-->
            <!--<a href="#" class="mx-2">-->
                <!--<i class="fab fa-github"></i>-->
            <!--</a>-->
        <!--</div>-->

    <!--</div>-->
<!--</section>-->

<!-- Footer -->
<footer class="bg-black small text-center text-white-50">
    <div class="container">
        Max Kryk &copy; 2020
    </div>
</footer>

<!-- Bootstrap core JavaScript -->
<script src="../vendor/jquery/jquery.min.js"></script>
<script src="../vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="../vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="../js/grayscale.min.js"></script>

</body>

</html>
