<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Komunikat</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles1.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/admin_panel_table.css}">
    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style-info.css" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="body-error">
<div>

    <div id="notfound">
        <div class="background-info-panel"></div>
        <div class="notfound">
            <div class="notfound-404">

                <!--<h2><b><p th:text=" ${infoDTO.message}" /></b></h2>-->
                <div>
                    <!--<table style="width:100%">-->
                        <!--<tr>-->
                            <!--<td colspan="3"><p th:text="'Zostało zaktualizowane auto o id:  ' + ${ident.id}" /></td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>pole</td>-->
                            <!--<td>wartość przed</td>-->
                            <!--<td>wartość po</td>-->
                        <!--</tr>-->
                        <!--<tr>-->
                            <!--<td>marka</td>-->
                            <!--<td><p th:text="${carBeforeUpdate.brand}" /></td>-->
                            <!--<td><p th:text="${carAfterUpdate.brand}" /></td>-->
                        <!--</tr>-->

                    <!--</table>-->
                    <table class="center">
                        <tr>
                            <td colspan="3"><p th:text="'Zostało zaktualizowane auto o id:  ' + ${ident.id}" /></td>
                        </tr>
                        <tr>

                            <td>
                    <table class="center">
                        <tr><th> WARTOSCI PRZED ZMIANĄ</th></tr>
                        <tr><td>Nazwa          </td><td><p th:text="${carBeforeUpdate.brand          }"/></td></tr>
                        <tr><td>Marka          </td><td><p th:text="${carBeforeUpdate.model          }"/></td></tr>
                        <tr><td>Model          </td><td><p th:text="${carBeforeUpdate.imageLink      }"/></td></tr>
                        <tr><td>Specyfikacja   </td><td><p th:text="${carBeforeUpdate.specification  }"/></td></tr>
                        <tr><td>Cena za dzień  </td><td><p th:text="${carBeforeUpdate.priceForDay    }"/></td></tr>
                        <tr><td>Cena za weekend</td><td><p th:text="${carBeforeUpdate.priceForWeekend}"/></td></tr>
                        <tr><td>Cena za tydzień</td><td><p th:text="${carBeforeUpdate.priceForWeek   }"/></td></tr>
                        <tr><td>Cena za miesiąc</td><td><p th:text="${carBeforeUpdate.priceForMonth  }"/></td></tr>
                    </table>
                            </td>
                            <td>
                                <table class="center">
                                    <tr><th> WARTOSCI PO ZMIANIE</th></tr>
                                    <tr><td>Nazwa          </td><td><p th:text="${carAfterUpdate.brand          }"/></td></tr>
                                    <tr><td>Marka          </td><td><p th:text="${carAfterUpdate.model          }"/></td></tr>
                                    <tr><td>Model          </td><td><p th:text="${carAfterUpdate.imageLink      }"/></td></tr>
                                    <tr><td>Specyfikacja   </td><td><p th:text="${carAfterUpdate.specification  }"/></td></tr>
                                    <tr><td>Cena za dzień  </td><td><p th:text="${carAfterUpdate.priceForDay    }"/></td></tr>
                                    <tr><td>Cena za weekend</td><td><p th:text="${carAfterUpdate.priceForWeekend}"/></td></tr>
                                    <tr><td>Cena za tydzień</td><td><p th:text="${carAfterUpdate.priceForWeek   }"/></td></tr>
                                    <tr><td>Cena za miesiąc</td><td><p th:text="${carAfterUpdate.priceForMonth  }"/></td></tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                    <p>
                        <script> document.write(new Date().toLocaleDateString()); </script>
                        <script> document.write(new Date().toLocaleTimeString()); </script>
                    </p>
                    <br>
                </div>
                <a href="/admin_panel">Powrót do panelu admina</a>
            </div>
        </div>







    </div>
</div>



</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
