<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Komunikat</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/styles1.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/admin_panel_table.css}">

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style-info.css" />
    <link href="../css/grayscale.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="body-error">
<div style="color: white">

    <div id="notfound">
        <div class="background-info-panel"></div>
        <div class="notfound">
            <div class="notfound-404">


    <table class="center">
        <tr>
            <a href="/admin_panel">Powrót do panelu admina</a>
        </tr>
        <tr>
            <td colspan="3">
                <h2><b><p th:text=" ${infoDTO.message}" /></b></h2>
                <p>
                    <script> document.write(new Date().toLocaleDateString()); </script>
                    <script> document.write(new Date().toLocaleTimeString()); </script>
                </p>
            </td>
        </tr>
              <tr>
            <td>

                <table class="center">

                    <tr>
                        <td colspan="2">
                            <form action="#" th:action="@{/delete_car_info}" th:object="${ident}" method="post">
                        <p>ID: <input type="text" th:field="*{id}"/></p>
                        <!--<p>Car's ident: <input type="text" th:field="*{id}"/></p> to zamienic potem-->
                        <p><input type="submit" class="btn btn-primary" value="Usuń auto"  /></p>
                    </form>
                    </td>
                </table>
            </td>

            <td>
                <table class="center">

                    <form action="#" th:action="@{/update_car_info}" th:object="${newCarTemplateToUpdateDTO}" method="post">

                        <tr><td>
                            <p>Nazwa:</p>
                        </td>
                            <td>
                                <input type = "text" th:value="${foundCar.name}" th:id="name" th:name="name"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Marka:</p>
                            </td>
                            <td>
                                <input type = "text" th:value="${foundCar.brand}" th:id="brand" th:name="brand"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Model:</p>
                            </td>
                            <td>
                                <input type = "text" th:value="${foundCar.brand}" th:id="brand" th:name="brand"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Specyfikacja:</p>
                            </td>
                            <td>
                                <input type = "text" th:value="${foundCar.specification}" th:id="specification" th:name="specification"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Cena za dzień:</p>
                            </td>
                            <td>
                                <input type = "text" th:value="${foundCar.priceForDay}" th:id="priceForDay" th:name="priceForDay"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Cena za weekend:</p>
                            </td>
                            <td>
                                <input type = "text" th:value="${foundCar.priceForWeekend}" th:id="priceForWeekend" th:name="priceForWeekend"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Cena za tydzień:</p>
                            </td>
                            <td>
                                <input type = "text" th:value="${foundCar.priceForWeek}" th:id="priceForWeek" th:name="priceForWeek"></p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <p>Cena za miesiąc:</p>
                            </td>
                            <td>
                                <input type = "text" th:value="${foundCar.priceForMonth}" th:id="priceForMonth" th:name="priceForMonth"></p>
                            </td>
                        </tr>

                        <tr>
                            <td colspan="2">
                                <p><input type="submit" class="btn btn-primary" value="Aktualizuj auto"  /></p>


                    </form>
                    </td>
                    </tr>

                    </form>

                    <tr>UPDATE</tr>
                </table>
            </td>
        </tr>

    </table>

    </div>




            <br>
        </div>

    </div>
</div>







</div>
</div>



</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
