<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Error</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,900" rel="stylesheet">

    <!-- Custom stlylesheet -->
    <link rel="stylesheet" type="text/css" th:href="@{css/styles1.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/main.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/style-error.css}">


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body class="body-error">
<div>

    <div id="notfound">
        <div class="background-error-panel"></div>
        <div class="notfound">
            <div class="notfound-404">
                <h1>Bład!</h1>
            </div>

            <h2>PRZYCZYNA BŁĘDU:</h2>
            <div class="error_description"><b><p th:text="${infoDto.message}"/></b></div>

           <div class="timestamp_description"> <p>
                <script> document.write(new Date().toLocaleDateString()); </script>
                <script> document.write(new Date().toLocaleTimeString()); </script>
            </p>
           </div>
            <br>
            <a href="/admin_panel">Powrót do panelu admina</a>

        </div>
    </div>


</div>
</body><!-- This templates was made by Colorlib (https://colorlib.com) -->

</html>
