<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{../static/css/styles1.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{../static/css/main.css}">
    <!--<link rel="stylesheet" href="../styles1.css">-->
    <!--<link rel="stylesheet" href="../main.css">-->

    <title>All users</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<script type="text/javascript" src="http://cdn.jsdelivr.net/thymol/latest/thymol.min.js"></script>
<div class="background-admin-panel"></div>
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <a class="navbar-brand" href="#"></a>
    <h1 th:inline="text" class="white">Welcome [[${#httpServletRequest.remoteUser}]]!</h1>

    <button class="navbar-toggler navbar-dark" type="button" data-toggle="collapse" data-target="#main-navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="main-navigation">
        <ul class="navbar-nav">
            <li class="nav-item">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Cars</a>
                    <div class="dropdown-menu">
                        <a href="users"class="dropdown-item">SHOW ALL CARS</a>
                        <a href="find_user"class="dropdown-item">FIND CAR</a>
                        <a href="add_new_user"class="dropdown-item">ADD NEW CAR</a>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reservations</a>
                    <div class="dropdown-menu">
                        <a href="users"class="dropdown-item">SHOW ALL</a>
                        <a href="find_user"class="dropdown-item">FIND USER</a>
                        <a href="update_user_by_id_v2"class="dropdown-item">UPDATE USER BY ID</a>
                        <a href="delete_user_by_id"class="dropdown-item">DELETE USER BY ID</a>
                        <a href="add_new_user"class="dropdown-item">ADD NEW USER</a>
                    </div>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="#", style="color: white">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#", style="color: white">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">
                    <form th:action="@{/logout}" method="post">
                        <input type="submit" value="Sign Out"/>
                </a>


            </li>
        </ul>
    </div></nav>
<div class="inner-background-admin-panel"></div>


<header class="page-header header container-fluid">
</header>

<div class="container features">
    <div class="div3">
    TODO
    </div>


</body>
</html>