<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/xhtml">


<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Dreamclub - Car Rental</title>

    <!-- Bootstrap core CSS -->
    <link href="../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../css/grayscale.min_admin.css" rel="stylesheet">
    <link href="../css/grayscale.min_buttons_only.css" rel="stylesheet">
    <link href="../css/index_styles.css" rel="stylesheet">
    <link href="../css/index_styles1.css" rel="stylesheet">
    <link href="../css/admin_panel_table_black.css" rel="stylesheet">
    <link href="../css/table_index.css" rel="stylesheet">
    <link href="../css/list.css" rel="stylesheet">
    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="css/style-info.css" />

</head>

<body id="page-top">


<!-- DISPLAY CARS -->
<section id="display-cars" class="signup-section" style="color: black">
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8 mx-auto text-center">


                <!--Section: Contact v.2-->
                <section class="mb-4">




                        <table class="center" style="width:100%;">
                            <tr colspan="2">
                            <!--Section heading-->
                            <h2 class="h1-responsive font-weight-bold text-center my-4">Twoje auta</h2>
                            <!--Section description-->
                            </tr>
                            <tr colspan="2">


                                <!--Section description-->
                                <p class="text-center w-responsive mx-auto mb-5">Auta znajdujące się w twojej bazie</p>
                            </tr>
                            <li style="list-style: none" th:each="car: ${foundCars}">
<tr><td colspan="2">

    <a href="/admin_panel" class="btn btn-primary" >Powrót do panelu admina</a></td> </tr>


                                <tr><td>nazwa           </td><td><p th:text="${car.name}"/> </td></tr>
                                <tr><td>marka          </td><td><p th:text="${car.brand}"/> </td></tr>
                                <tr><td>model          </td><td><p th:text="${car.model}"/> </td></tr>

                                <tr><td>specyfikacja  </td><td><p th:text="${car.specification}"/> </td></tr>
                                <!--<tr><td>price          </td><td><p th:text="${car.price}"/> </td></tr>-->
                                <tr><td>
    <span class="product-price">
                        Cena za dzień
                    </span>
                                </td><td>
                                    <p th:text="${car.priceForDay} +' PLN'"/>
                                </td></tr>
                                <tr><td>
            <span class="product-price">
                        Cena za weekend
                    </span>
                                </td><td>
                                    <p th:text="${car.priceForWeekend} +' PLN'"/>
                                </td></tr>
                                <tr><td>
    <span class="product-price">
                        Cena za tydzień
                    </span>
                                </td><td>
                                    <p th:text="${car.priceForWeek} +' PLN'"/>
                                </td></tr>
                                <tr><td>
    <span class="product-price">
                        Cena za miesiąc
                    </span>
                                </td><td>
                                    <p th:text="${car.priceForMonth} +' PLN'"/>
                                </td></tr>

                                <tr>
                                    <td colspan="2"><img src="../static/'+${car.imageLink}" width="500" th:src="${car.imageLink}"/></td>
                                </tr>
                                <tr>
                                    <td colspan="2">
                                        <form action="#" th:action="@{/cars:{id}(id=${car.id})}" method="get">
                                            <p><input type = "submit" class="btn btn-primary-2" value="PANEL AUTA"/></p>
                                        </form>


                                        </form>

                                    </td>
                                </tr>
                                </table>


                    <div class="row">

                        <!--Grid column-->
                        <div class="col-md-9 mb-md-0 mb-5" style="text-align: center">


                        </div>
                    </div>
            </div>
</section>

